//flex-box
.d_flex{
  display: flex;
}
//container
.container_80{
  margin: auto;
  width: 80%;
}
.container_70{
  margin: auto;
  width: 70%;
}
//input search
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}