//SECTION COMICS
#section_comics{
  background-color: $bg_dark;
  margin-top: 45px;
  .heading{
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    h3{
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-50%);
      background-color: $blue_comics;
      color: white;
      font-weight: 600;
      min-width: 375px;
      height: 50px;
      align-items: center;
      justify-content: center;
    }
    ul{
      height: 100%;
      margin: 0;
      padding: 0;
      width: 380px;
      display: flex;
      justify-content: space-between;

      li{
        list-style: none;
        a{
          color: $txt_grey;
          font-weight: 500;
          font-size: small;
          &:hover{
          color: $blue_comics;
          text-decoration: none;
        }
        }
        .active{
          color: $blue_comics;
          
        }
      }
    }
  }
  .carousel_container{
    height: 480px;
    background-color: $bg_dark;
    .carousel{
      position: relative;
      margin: 0 10px;
      .carousel-item{
        .row{
          height: 480px;
          .card{
            width: calc(100%/5);
            background-color: $bg_dark;
            img{
              transition: 0.5s ease;
              z-index: 2;
              &:hover{
                transform: scale(1.1);
                z-index: 5;
              }
            }
          }
        }
      }
      .carousel-control-prev,
      .carousel-control-next{
        height: 40px;
        width: 40px;
        position: absolute;
        top: 50%;
        background-color: black;
        border-radius: 50%;
      }
    }
  }
}
//SECTION MUST READS
#section_must_reads{
  height: 530px;
  .label{
    height: 75px;
    h3{
      margin: 0;
      color: $blue_comics;
      font-weight: 600;
      height: inherit;
      display: flex;
      align-items: center;
      height: inherit;
      margin-left: 60px;
    }
  }
  .container{
    height: calc(100% - 75px);
    padding: 0;
    .card_container{
      width: calc(100%/4);
      &:hover{
        text-decoration: none;
      }
      .card{
        border: none;
        padding-right: 20px;
        h6{
          text-transform: uppercase;
          color: $blue_comics;
          font-weight: 800;
          margin-bottom: 3px;
        }
        h4{
          font-weight: 800;
          margin-bottom: 3px;
          color: black;
        }
        p{
          line-height: 1.1em;
          color: black;
        }
      }
    }
  }
}
// SECTION SERVICES
#section_services{
  background-color: $blue_comics;
  height: 150px;
  align-items: center;
  .services{
    justify-content: space-around;
    img{
      height: 50px;
    }
    span{
      color: white;
      font-size: smaller;
      padding-left: 5px;
    }
  }
}